:host .row {
  background: #c8afa5;
  min-height: 500px;
  padding: 15px 0;
}

/deep/ #header_superior .row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

/deep/ .header-col:nth-of-type(2) {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  align-items: center !important;
  width: 80%;
}

/deep/ .header-col:nth-of-type(4) {
  order: 1;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  align-items: center !important;
}

/deep/ .header-col:nth-of-type(5) {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  min-width: 25rem;
  margin-right: 2rem;
}
