<smart-search-header placeHolder="{{'practitionerView.searchHeader.searchPlaceholder' | translate}}"
                     #searchHeader
                     (updateSuggestions)="updateSuggestions()">
  <div class="filter-selection">
    <div class="form-group">
      <label>{{'practitionerView.label.order' | translate}}</label>

      <smart-select width="100px"
                    [(value)]="orderBySelectValue"
                    (change)="orderBySelectValue = $event; saveFilterOptions()">
        <smart-option [value]="'fullName'" [display]="'practitionerView.label.name' | translate"></smart-option>
        <smart-option [value]="'room'" [display]="'practitionerView.label.room' | translate"></smart-option>
      </smart-select>
    </div>

    <div class="form-group">
      <label>{{'practitionerView.label.sector' | translate}}</label>

      <smart-select width="170px"
                    [(value)]="filterBySelectValue"
                    (change)="filterBySelectValue = $event; saveFilterOptions()"
                    *ngIf="roomSectors != null">
        <smart-option [display]="'practitionerView.label.all' | translate"></smart-option>
        <smart-option *ngFor="let sector of roomSectors" [value]="sector['code']"
                      [display]="sector['display']"></smart-option>
      </smart-select>
    </div>

    <div class="add-event-section" [hidden]="!canCreateAppointmentType">
      <button class="btn-new-event" (click)="openDialog()">
        <img src="./assets/img/ic_add_box_practitioner.svg" alt="add_icon">
        {{'practitionerView.label.standardButton' | translate}}
      </button>
    </div>
  </div>
</smart-search-header>

<smart-loading *ngIf="isLoading"></smart-loading>

<div class="patients-cards-container"
     *ngIf="!isLoading && !isAsyncError">
  <smart-card
    *ngFor="let patient of patients | filterPipe: filterBySelectValue: ['sectorId'] | filterPipe: searchHeader['inputElement']['nativeElement']['value']: ['room', 'fullName'] | orderBy: orderBySelectValue"
    (cardClick)="showPatientDetail(patient)"
    @fadeAnimation>
    <div content>
      <div class="room">{{patient.room}}</div>
      <div class="full-name">{{patient.fullName.toLowerCase()}}</div>
      <div class="birthday" *ngIf="patient.birthDate.dateTime">{{(patient.birthDate.dateTime | date: birthDateFormat) +
        ' - '
        + patient.birthDate['age'] + ' ' + ('practitionerView.label.years' | translate)}}
      </div>
    </div>
  </smart-card>
  <div class="fix-cards-space" *ngFor="let fix of [1, 2, 3, 4, 5]"></div>
</div>
<div class="async-error" *ngIf="!isLoading && isAsyncError">
  <span class="error-message">{{'error.generalMessage' | translate}}</span>
  <button class="btn" (click)="retryAsyncOpertion()">{{'error.retryButton' | translate}}</button>
</div>

<!--Add/Edit an Event Modal-->
<smart-dialog [opened]="modalConfig.active" (overlayClick)="closeDialog()">
  <button class="close-button" (click)="closeDialog()"></button>

  <div class="dialog-content text-left">

    <div class="event-add-edit">
      <h1 class="title">{{'practitionerView.label.createStandardEventTitle' | translate}}</h1>

      <div class="main-carousel">
        <div class="category carousel-cell" *ngFor="let category of appointmentsCategory; let i = index"
             [ngClass]="modalConfig.categoryEventStyle.selectedCategory === category.code ? modalConfig.categoryEventStyle.activeCategoryClass + category.code : ''"
             (click)="goToSlide(i, category)">
          <div [ngClass]="'logo-' + category.code">{{category.code === 'outros' ? '&#63;' : ''}}</div>
          <div class="logo-description">{{category.display}}</div>
        </div>
      </div>

      <div class="form-event">
        <form #modalSchedulerForm="ngForm" (ngSubmit)="createStandardAppointmentType()">

          <div class="standard-title">
            <div class="form-group">
              <label for="standard-title">{{'scheduler.addEditForm.title' | translate}}</label>
              <div class="field">
                <input type="text"
                       class="form-control input-lg"
                       id="standard-title"
                       name="standard-title"
                       [(ngModel)]="inputModels.title"
                       maxlength="40"
                       required
                       #standardTitleCtrl
                       [ngClass]="{'invalid': standardTitleCtrl.invalid && standardTitleCtrl.touched}">
              </div>
            </div>
          </div>

          <div class="form-group event-description">
            <label for="event-description">{{'scheduler.addEditForm.description' | translate}}</label>
            <div class="field">
              <textarea class="form-control"
                        id="event-description"
                        name="event-description"
                        rows="3"
                        [(ngModel)]="inputModels.description"
                        #descriptionCtrl="ngModel">
              </textarea>
            </div>
          </div>

          <div class="form-group event-videolink">
            <label for="event-videolink">{{'scheduler.addEditForm.videoLink' | translate}}</label>
            <div class="field">
              <input type="text"
                     class="form-control input-lg"
                     id="event-videolink"
                     name="event-videolink"
                     [(ngModel)]="inputModels.videoLink"
                     #videoCtrl="ngModel">
            </div>
          </div>

          <button type="submit"
                  class="btn btn-lg"
                  [disabled]="modalSchedulerForm.invalid">
            {{'practitionerView.label.createStandardEvent' | translate}}
          </button>
        </form>
      </div>
    </div>
  </div>
</smart-dialog>

<app-warning *ngIf="emptySearch && isLoadedSearch"
             upperSentence="A busca retornou vazia."
             lowerSentence="Mude os parâmetros.">
</app-warning>

<app-warning *ngIf="requestError && !isloaded"
             upperSentence="Erro na requisição."
             lowerSentence="Verifique sua conexão.">
</app-warning>
