/*Header*/

/deep/ #header_superior {
  padding-top: 0 !important;
}

/deep/ #header_superior .row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

/deep/ .header-col:nth-of-type(3) {
  width: 80%;
}

/deep/ .header-col:nth-of-type(4) {
  order: 1;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  align-items: center !important;
}

/deep/ .header-col:nth-of-type(5) .box {
  min-width: 25rem;
}

/*Search Header*/

/deep/ .search-wrapper {
  padding: 5rem 50px !important;
}

/deep/ .search-wrapper .row {
  justify-content: space-between !important;
}

/deep/ .search-container {
  width: 80% !important;
}
