<div id="rules_calendar">
  <div class="container-fluid">
    <div class="row center-block;" style="justify-content: center; display:flex" *ngIf="!dateShift" (panleft)="dateup()"
         (panright)="datedown()">

      <div *ngFor="let rc of rulesCalendar">
        <div class="col-xs-12" *ngIf="rc.type != 'today'" (click)="changeDate(rc)">
          <div [class]="rc.plan">
            <div *ngIf="rc.plan == 'with-plan'">
              <div [class]="rc.type">

                <span class="number">{{rc.day}}</span>
                <span class="month">{{rc.month}}</span>
              </div>
            </div>
            <div *ngIf="rc.plan == 'without-plan'" class="{{rc.type}} without-plan">
              <span class="number">{{rc.day}}</span>
              <span class="month">{{rc.month}}</span>
            </div>
          </div>
        </div>

        <div class="col-xs-12 c-calendar" *ngIf="rc.type == 'today'">
          <div [class]="rc.plan">
            <div [class]="('c-calendar__control ' + rc.type + (showFullCalendar ? ' is-open' : '') )">
              <!-- (click)="showFullCalendar = !showFullCalendar" -->
              <span class="title">{{ 'PRACTITIONERVIEW.RULESCALENDAR.TODAYLABEL' | translate}}</span>
              <div class="content">
                <span class="number" style="padding-bottom:5px">{{rc.day}}</span>
                <span class="month">{{rc.month}}</span>
                <a class="open-calendar" *ngIf="false">
                  <img src="./assets/img/tip.png"/>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- //////////////////////////////////////////////////////////////////////////////////// -->

    <div class="row center-block;" style="justify-content: center; display:flex" *ngIf="dateShift" (panleft)="dateup()"
         (panright)="datedown()">

      <div *ngFor="let rc of rulesCalendar">

        <div class="col-xs-12" *ngIf="rc.type != 'focus'" (click)="changeDate(rc)">
          <div [class]="rc.plan">
            <div *ngIf="rc.plan == 'with-plan'">
              <div [class]="rc.type">
                <span class="number">{{rc.day}}</span>
                <span class="month">{{rc.month}}</span>
              </div>
            </div>
            <div *ngIf="rc.plan == 'without-plan'" class="{{rc.type}} without-plan">
              <span class="number">{{rc.day}}</span>
              <span class="month">{{rc.month}}</span>
            </div>
          </div>
        </div>

        <div class="col-xs-12 c-calendar" *ngIf="rc.type == 'focus'">
          <div [class]="rc.plan">
            <div [class]="('c-calendar__control ' + rc.type + (showFullCalendar ? ' is-open' : '') )">
              <span class="title">{{rc.weekDay}}</span>
              <div class="content">
                <span class="number" style="padding-bottom:5px">{{rc.day}}</span>
                <span class="month">{{rc.month}}</span>
                <a class="open-calendar" *ngIf="false">
                  <img src="./assets/img/tip.png"/>
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
