<table class="table table-striped">
  <thead>
    <tr>
      <th>code</th>
      <th>display</th>
      <th>definition</th>
      <th>unusable</th>
      <th>category.code</th>
      <th>standardPeriod.startDate.dateTime</th>
      <th>standardPeriod.endDate.dateTime</th>
      <th>allDayLong</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let appType of appointmentTypes" (click)="onSelect(usuario)" [class.selected]="usuario === selectedUsuario">
      <td>{{appType.code}}</td>
      <td>{{appType.display}}</td>
      <td>{{appType.definition}}</td>
      <td>{{appType.unusable}}</td>
      <td>{{appType.category.code}}</td>
      <td>{{appType.standardPeriod?.startDate?.dateTime}}</td>
      <td>{{appType.standardPeriod?.endDate?.dateTime}}</td>
      <td>{{appType.allDayLong}}</td>
    </tr>
  </tbody>
</table>
